# Prosper Loan Data Analysis
### by Rosvita Robnik

## Preliminary Wrangling

The dataset I have been investigating belongs to Prosper's peer-to-peer platform, that connects borrowers and lenders. The data set contains 113,937 loans with 81 variables on each loan, that are related to loan details (e.g. interest rate, amount,length, etc.) , borrowers' data (e.g. occupation, home-ownership, credit rating, etc.) and some other kind of data (e.g. number of investors for a specific loan).

In [77]:
# Import all packages and set plots to be embedded inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

> Load in your dataset and describe its properties through the questions below.
Try and motivate your exploration goals through this section.

In [78]:
# Load the dataset into a pandas dataframe
loans_archive = pd.read_csv('prosperLoanData.csv')

In [79]:
# Make a copy of the original dataset
loans = loans_archive.copy()

In [80]:
# Visual assessment
loans.sample(10)

,ListingKey,ListingNumber,ListingCreationDate,CreditGrade,Term,LoanStatus,ClosedDate,BorrowerAPR,BorrowerRate,LenderYield,...,LP_ServiceFees,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors
60550,0B4D33659263362618631CA,9152,2006-04-27 13:11:03.483000000,B,36,Completed,2009-01-20 00:00:00,0.12449,0.1175,0.1100,...,-39.22,0.0,0.00,0.00,0.0,1.0,0,0,0.0,32
54353,2265347359314654091146B,442737,2010-01-15 01:40:57.940000000,NaN,36,Completed,2012-03-21 00:00:00,0.36438,0.3400,0.3300,...,-24.08,0.0,0.00,0.00,0.0,1.0,0,0,0.0,59
85481,CEE735945386215349AE3D2,1005998,2013-11-09 10:38:15.677000000,NaN,36,Current,NaN,0.22875,0.1915,0.1815,...,-44.41,0.0,0.00,0.00,0.0,1.0,0,0,0.0,1
98857,541435048101030175B0082,490607,2011-01-12 16:23:07.260000000,NaN,36,Completed,2013-12-05 00:00:00,0.17069,0.1490,0.1390,...,-246.71,0.0,0.00,0.00,0.0,1.0,0,0,0.0,374
81419,9AF335612438830279850E2,660816,2012-10-26 09:50:28.873000000,NaN,60,Current,NaN,0.30933,0.2827,0.2727,...,-62.11,0.0,0.00,0.00,0.0,1.0,0,0,0.0,43
14624,E8F9358982306057437DF8A,903027,2013-09-17 08:53:24.773000000,NaN,60,Current,NaN,0.31940,0.2925,0.2825,...,-17.88,0.0,0.00,0.00,0.0,1.0,0,0,0.0,1
56409,A7823588888738478E04303,894641,2013-09-11 17:38:06.183000000,NaN,60,Current,NaN,0.26333,0.2379,0.2279,...,-61.73,0.0,0.00,0.00,0.0,1.0,0,0,0.0,1
97581,ED3F35525766842312B7789,614204,2012-07-19 11:56:50.657000000,NaN,60,Current,NaN,0.17849,0.1551,0.1451,...,-353.41,0.0,0.00,0.00,0.0,1.0,0,0,0.0,424
48437,FEB83425584326254E69353,360895,2008-07-02 06:40:54.800000000,HR,36,Completed,2010-11-02 00:00:00,0.29334,0.2700,0.2600,...,-34.34,0.0,0.00,0.00,0.0,1.0,0,0,0.0,65
49142,9AC43386691455401756692,123540,2007-04-14 12:13:14.057000000,AA,36,Chargedoff,2009-03-27 00:00:00,0.12449,0.1175,0.1125,...,-96.12,-220.3,11167.89,11167.89,0.0,1.0,0,0,0.0,179

In [81]:
# Visually check data in columns 
# (to better understand the data and to help me make a decision which variables to analyse)
col_9 = loans.loc[: , 'ListingKey':'BorrowerRate']
col_18 = loans.loc[: , 'LenderYield':'BorrowerState']
col_27 = loans.loc[: , 'Occupation':'CreditScoreRangeUpper']
col_36 = loans.loc[: , 'FirstRecordedCreditLine':'CurrentDelinquencies']
col_45 = loans.loc[: , 'AmountDelinquent':'TradesNeverDelinquent (percentage)']
col_54 = loans.loc[: , 'TradesOpenedLast6Months':'OnTimeProsperPayments']
col_63 = loans.loc[: , 'ProsperPaymentsLessThanOneMonthLate':'LoanNumber']
col_72 = loans.loc[: , 'LoanOriginalAmount':'LP_ServiceFees']
col_81 = loans.loc[: , 'LP_CollectionFees':'Investors']
display(col_9.sample(3))
display(col_18.sample(3))
display(col_27.sample(3))
display(col_36.sample(3))
display(col_45.sample(3))
display(col_54.sample(3))
display(col_63.sample(3))
display(col_72.sample(3))
display(col_81.sample(3))

,ListingKey,ListingNumber,ListingCreationDate,CreditGrade,Term,LoanStatus,ClosedDate,BorrowerAPR,BorrowerRate
68624,743E34148849440319A1292,288892,2008-03-05 16:41:52.450000000,C,36,Completed,2009-11-23 00:00:00,0.23504,0.2125
19774,71D13560436897090335F55,657366,2012-10-20 13:22:35.100000000,NaN,36,Current,NaN,0.19645,0.1599
10236,8D753568711275882973475,707469,2013-02-01 06:12:16.750000000,NaN,36,Current,NaN,0.19645,0.1599

,LenderYield,EstimatedEffectiveYield,EstimatedLoss,EstimatedReturn,ProsperRating (numeric),ProsperRating (Alpha),ProsperScore,ListingCategory (numeric),BorrowerState
20675,0.2039,0.18980,0.0774,0.11240,4.0,C,4.0,2,PA
68407,0.1435,0.13507,0.0599,0.07517,5.0,B,6.0,1,CA
58162,0.0864,0.08620,0.0200,0.06620,6.0,A,8.0,19,CO

,Occupation,EmploymentStatus,EmploymentStatusDuration,IsBorrowerHomeowner,CurrentlyInGroup,GroupKey,DateCreditPulled,CreditScoreRangeLower,CreditScoreRangeUpper
2337,Teacher,Not available,NaN,False,True,EF643367004564851A3CEDB,2006-09-13 19:17:39.170000000,620.0,639.0
9625,Nurse (RN),Employed,302.0,True,False,NaN,2013-10-23 11:37:15,660.0,679.0
84953,Food Service Management,Employed,10.0,False,False,NaN,2012-07-06 05:54:49,660.0,679.0

,FirstRecordedCreditLine,CurrentCreditLines,OpenCreditLines,TotalCreditLinespast7years,OpenRevolvingAccounts,OpenRevolvingMonthlyPayment,InquiriesLast6Months,TotalInquiries,CurrentDelinquencies
100923,1995-07-19 00:00:00,7.0,6.0,17.0,4,440.0,3.0,4.0,0.0
2149,1998-09-03 00:00:00,9.0,8.0,16.0,6,566.0,1.0,3.0,0.0
885,1981-09-01 00:00:00,4.0,4.0,22.0,3,75.0,0.0,0.0,0.0

,AmountDelinquent,DelinquenciesLast7Years,PublicRecordsLast10Years,PublicRecordsLast12Months,RevolvingCreditBalance,BankcardUtilization,AvailableBankcardCredit,TotalTrades,TradesNeverDelinquent (percentage)
46906,0.0,0.0,0.0,0.0,7597.0,0.25,22070.0,13.0,0.76
33016,0.0,0.0,1.0,0.0,463.0,0.92,37.0,2.0,1.00
42062,0.0,0.0,0.0,0.0,7843.0,0.59,4641.0,18.0,0.94

,TradesOpenedLast6Months,DebtToIncomeRatio,IncomeRange,IncomeVerifiable,StatedMonthlyIncome,LoanKey,TotalProsperLoans,TotalProsperPaymentsBilled,OnTimeProsperPayments
14703,2.0,0.55,"$1-24,999",True,1750.000000,44283642779498950795B4F,NaN,NaN,NaN
83554,0.0,0.14,"$100,000+",True,13583.333333,4F373646354390859C4B7E7,NaN,NaN,NaN
103471,NaN,0.20,Not displayed,True,5833.333333,D9C633808212869391F2778,NaN,NaN,NaN

,ProsperPaymentsLessThanOneMonthLate,ProsperPaymentsOneMonthPlusLate,ProsperPrincipalBorrowed,ProsperPrincipalOutstanding,ScorexChangeAtTimeOfListing,LoanCurrentDaysDelinquent,LoanFirstDefaultedCycleNumber,LoanMonthsSinceOrigination,LoanNumber
47960,NaN,NaN,NaN,NaN,NaN,519,20.0,32,51041
87502,NaN,NaN,NaN,NaN,NaN,0,NaN,65,37519
76954,NaN,NaN,NaN,NaN,NaN,0,NaN,3,120345

,LoanOriginalAmount,LoanOriginationDate,LoanOriginationQuarter,MemberKey,MonthlyLoanPayment,LP_CustomerPayments,LP_CustomerPrincipalPayments,LP_InterestandFees,LP_ServiceFees
55621,9500,2007-07-30 00:00:00,Q3 2007,A3683393713666169F8C449,367.74,1103.22,562.99,540.23,-23.49
64139,10000,2013-07-22 00:00:00,Q3 2013,5980358391366958399B396,242.07,1694.49,795.53,898.96,-56.93
11022,2000,2011-09-29 00:00:00,Q3 2011,0B543525586639334062391,81.64,2611.20,2000.00,611.20,-22.66

,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors
97149,0.0,0.0,0.0,0.0,1.0,1,0,0.0,234
32617,0.0,0.0,0.0,0.0,1.0,0,0,0.0,352
63288,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1

In [82]:
# Programmatic assessment
print(loans.duplicated().sum())

0

In [83]:
loans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113937 entries, 0 to 113936
Data columns (total 81 columns):
ListingKey                             113937 non-null object
ListingNumber                          113937 non-null int64
ListingCreationDate                    113937 non-null object
CreditGrade                            28953 non-null object
Term                                   113937 non-null int64
LoanStatus                             113937 non-null object
ClosedDate                             55089 non-null object
BorrowerAPR                            113912 non-null float64
BorrowerRate                           113937 non-null float64
LenderYield                            113937 non-null float64
EstimatedEffectiveYield                84853 non-null float64
EstimatedLoss                          84853 non-null float64
EstimatedReturn                        84853 non-null float64
ProsperRating (numeric)                84853 non-null float64
ProsperRating (Alpha)                  84853 non-null object
ProsperScore                           84853 non-null float64
ListingCategory (numeric)              113937 non-null int64
BorrowerState                          108422 non-null object
Occupation                             110349 non-null object
EmploymentStatus                       111682 non-null object
EmploymentStatusDuration               106312 non-null float64
IsBorrowerHomeowner                    113937 non-null bool
CurrentlyInGroup                       113937 non-null bool
GroupKey                               13341 non-null object
DateCreditPulled                       113937 non-null object
CreditScoreRangeLower                  113346 non-null float64
CreditScoreRangeUpper                  113346 non-null float64
FirstRecordedCreditLine                113240 non-null object
CurrentCreditLines                     106333 non-null float64
OpenCreditLines                        106333 non-null float64
TotalCreditLinespast7years             113240 non-null float64
OpenRevolvingAccounts                  113937 non-null int64
OpenRevolvingMonthlyPayment            113937 non-null float64
InquiriesLast6Months                   113240 non-null float64
TotalInquiries                         112778 non-null float64
CurrentDelinquencies                   113240 non-null float64
AmountDelinquent                       106315 non-null float64
DelinquenciesLast7Years                112947 non-null float64
PublicRecordsLast10Years               113240 non-null float64
PublicRecordsLast12Months              106333 non-null float64
RevolvingCreditBalance                 106333 non-null float64
BankcardUtilization                    106333 non-null float64
AvailableBankcardCredit                106393 non-null float64
TotalTrades                            106393 non-null float64
TradesNeverDelinquent (percentage)     106393 non-null float64
TradesOpenedLast6Months                106393 non-null float64
DebtToIncomeRatio                      105383 non-null float64
IncomeRange                            113937 non-null object
IncomeVerifiable                       113937 non-null bool
StatedMonthlyIncome                    113937 non-null float64
LoanKey                                113937 non-null object
TotalProsperLoans                      22085 non-null float64
TotalProsperPaymentsBilled             22085 non-null float64
OnTimeProsperPayments                  22085 non-null float64
ProsperPaymentsLessThanOneMonthLate    22085 non-null float64
ProsperPaymentsOneMonthPlusLate        22085 non-null float64
ProsperPrincipalBorrowed               22085 non-null float64
ProsperPrincipalOutstanding            22085 non-null float64
ScorexChangeAtTimeOfListing            18928 non-null float64
LoanCurrentDaysDelinquent              113937 non-null int64
LoanFirstDefaultedCycleNumber          16952 non-null float64
LoanMonthsSinceOrigination             113937 non-null int64
LoanNumber                             113937 non-null int64
LoanOriginalAmount                     113937 non-null int64
LoanOriginationDate                    113937 non-null object
LoanOriginationQuarter                 113937 non-null object
MemberKey                              113937 non-null object
MonthlyLoanPayment                     113937 non-null float64
LP_CustomerPayments                    113937 non-null float64
LP_CustomerPrincipalPayments           113937 non-null float64
LP_InterestandFees                     113937 non-null float64
LP_ServiceFees                         113937 non-null float64
LP_CollectionFees                      113937 non-null float64
LP_GrossPrincipalLoss                  113937 non-null float64
LP_NetPrincipalLoss                    113937 non-null float64
LP_NonPrincipalRecoverypayments        113937 non-null float64
PercentFunded                          113937 non-null float64
Recommendations                        113937 non-null int64
InvestmentFromFriendsCount             113937 non-null int64
InvestmentFromFriendsAmount            113937 non-null float64
Investors                              113937 non-null int64
dtypes: bool(3), float64(50), int64(11), object(17)
memory usage: 68.1+ MB

In [ ]:
# Convert variables' types

In [ ]:
# Improve columns' names

In [84]:
# Descriptive statistics for numeric variables
loans.describe()

,ListingNumber,Term,BorrowerAPR,BorrowerRate,LenderYield,EstimatedEffectiveYield,EstimatedLoss,EstimatedReturn,ProsperRating (numeric),ProsperScore,...,LP_ServiceFees,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors
count,1.139370e+05,113937.000000,113912.000000,113937.000000,113937.000000,84853.000000,84853.000000,84853.000000,84853.000000,84853.000000,...,113937.000000,113937.000000,113937.000000,113937.000000,113937.000000,113937.000000,113937.000000,113937.000000,113937.000000,113937.000000
mean,6.278857e+05,40.830248,0.218828,0.192764,0.182701,0.168661,0.080306,0.096068,4.072243,5.950067,...,-54.725641,-14.242698,700.446342,681.420499,25.142686,0.998584,0.048027,0.023460,16.550751,80.475228
std,3.280762e+05,10.436212,0.080364,0.074818,0.074516,0.068467,0.046764,0.030403,1.673227,2.376501,...,60.675425,109.232758,2388.513831,2357.167068,275.657937,0.017919,0.332353,0.232412,294.545422,103.239020
min,4.000000e+00,12.000000,0.006530,0.000000,-0.010000,-0.182700,0.004900,-0.182700,1.000000,1.000000,...,-664.870000,-9274.750000,-94.200000,-954.550000,0.000000,0.700000,0.000000,0.000000,0.000000,1.000000
25%,4.009190e+05,36.000000,0.156290,0.134000,0.124200,0.115670,0.042400,0.074080,3.000000,4.000000,...,-73.180000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,2.000000
50%,6.005540e+05,36.000000,0.209760,0.184000,0.173000,0.161500,0.072400,0.091700,4.000000,6.000000,...,-34.440000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,44.000000
75%,8.926340e+05,36.000000,0.283810,0.250000,0.240000,0.224300,0.112000,0.116600,5.000000,8.000000,...,-13.920000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,115.000000
max,1.255725e+06,60.000000,0.512290,0.497500,0.492500,0.319900,0.366000,0.283700,7.000000,11.000000,...,32.060000,0.000000,25000.000000,25000.000000,21117.900000,1.012500,39.000000,33.000000,25000.000000,1189.000000

### What is the structure of your dataset?

> Your answer here!

### What is/are the main feature(s) of interest in your dataset?

> Your answer here!

### What features in the dataset do you think will help support your investigation into your feature(s) of interest?

> Your answer here!

## Univariate Exploration

> In this section, investigate distributions of individual variables. If
you see unusual points or outliers, take a deeper look to clean things up
and prepare yourself to look at relationships between variables.

> Make sure that, after every plot or related series of plots, that you
include a Markdown cell with comments about what you observed, and what
you plan on investigating next.

### Discuss the distribution(s) of your variable(s) of interest. Were there any unusual points? Did you need to perform any transformations?

> Your answer here!

### Of the features you investigated, were there any unusual distributions? Did you perform any operations on the data to tidy, adjust, or change the form of the data? If so, why did you do this?

> Your answer here!

## Bivariate Exploration

> In this section, investigate relationships between pairs of variables in your
data. Make sure the variables that you cover here have been introduced in some
fashion in the previous section (univariate exploration).

### Talk about some of the relationships you observed in this part of the investigation. How did the feature(s) of interest vary with other features in the dataset?

> Your answer here!

### Did you observe any interesting relationships between the other features (not the main feature(s) of interest)?

> Your answer here!

## Multivariate Exploration

> Create plots of three or more variables to investigate your data even
further. Make sure that your investigations are justified, and follow from
your work in the previous sections.

### Talk about some of the relationships you observed in this part of the investigation. Were there features that strengthened each other in terms of looking at your feature(s) of interest?

> Your answer here!

### Were there any interesting or surprising interactions between features?

> Your answer here!

> At the end of your report, make sure that you export the notebook as an
html file from the `File > Download as... > HTML` menu. Make sure you keep
track of where the exported file goes, so you can put it in the same folder
as this notebook for project submission. Also, make sure you remove all of
the quote-formatted guide notes like this one before you finish your report!