# (Dataset Exploration Title)
## by (your name here)

## Preliminary Wrangling

> Briefly introduce your dataset here.

In [54]:
# import all packages and set plots to be embedded inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

> Load in your dataset and describe its properties through the questions below.
Try and motivate your exploration goals through this section.

In [55]:
# load the dataset into a pandas dataframe
loans_archive = pd.read_csv('prosperLoanData.csv')

In [56]:
# make a copy of the original dataset
loans = loans_archive.copy()

In [57]:
# data assessment
loans.sample(10)

,ListingKey,ListingNumber,ListingCreationDate,CreditGrade,Term,LoanStatus,ClosedDate,BorrowerAPR,BorrowerRate,LenderYield,...,LP_ServiceFees,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors
99682,8D4B33927032166239A31E4,160209,2007-06-28 21:40:27.597000000,D,36,Completed,2010-08-17 00:00:00,0.20564,0.1983,0.1833,...,-249.08,0.00,0.00,0.00,0.00,1.0,0,0,0.0,313
102115,781635845902075169BE47F,859240,2013-08-02 19:54:36.177000000,NaN,60,Current,NaN,0.17061,0.1474,0.1374,...,-48.96,0.00,0.00,0.00,0.00,1.0,0,0,0.0,93
108828,EA483508380637116A1F9EB,494242,2011-02-17 09:13:54.500000000,NaN,60,Chargedoff,2012-11-06 00:00:00,0.13248,0.1190,0.1090,...,-215.93,-810.00,12044.17,11317.18,2258.01,1.0,0,0,0.0,351
8117,0B223601217320925EAE47B,1173417,2014-01-30 15:22:52.947000000,NaN,60,Current,NaN,0.20040,0.1765,0.1665,...,0.00,0.00,0.00,0.00,0.00,1.0,0,0,0.0,1
90128,F777357498918806549B8FC,741676,2013-04-01 04:30:32.237000000,NaN,36,Chargedoff,2013-12-04 00:00:00,0.17192,0.1359,0.1259,...,-24.37,0.00,9311.74,9311.74,0.00,1.0,0,0,0.0,114
113089,D6113486751224585A32343,463677,2010-06-21 14:57:56.870000000,NaN,36,Completed,2013-09-23 00:00:00,0.11296,0.0920,0.0820,...,-65.56,-86.75,0.00,0.00,0.00,1.0,0,0,0.0,101
97986,8032349606709622873A349,476979,2010-09-26 06:17:50.463000000,NaN,36,Completed,2011-04-25 00:00:00,0.17322,0.1515,0.1415,...,-72.76,0.00,0.00,0.00,0.00,1.0,0,0,0.0,337
69296,06CF3560096167579D4CDE9,655602,2012-10-17 10:00:32.733000000,NaN,60,Current,NaN,0.21822,0.1939,0.1839,...,-186.46,0.00,0.00,0.00,0.00,1.0,0,0,0.0,14
110301,EC0E3549231800774F191FE,595132,2012-06-01 10:43:40.107000000,NaN,60,Current,NaN,0.23318,0.2085,0.1985,...,-45.04,0.00,0.00,0.00,0.00,1.0,0,0,0.0,73
112158,347833649580790400917A3,11176,2006-05-04 11:24:46.793000000,C,36,Completed,2008-11-28 00:00:00,0.22241,0.2150,0.1900,...,-123.98,0.00,0.00,0.00,0.00,1.0,0,0,0.0,70

In [73]:
#

In [59]:
# Check duplicates
print(loans.duplicated().sum())

0

In [60]:
#

In [61]:
#

In [51]:
loans.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113937 entries, 0 to 113936
Data columns (total 81 columns):
ListingKey                             113937 non-null object
ListingNumber                          113937 non-null int64
ListingCreationDate                    113937 non-null object
CreditGrade                            28953 non-null object
Term                                   113937 non-null int64
LoanStatus                             113937 non-null object
ClosedDate                             55089 non-null object
BorrowerAPR                            113912 non-null float64
BorrowerRate                           113937 non-null float64
LenderYield                            113937 non-null float64
EstimatedEffectiveYield                84853 non-null float64
EstimatedLoss                          84853 non-null float64
EstimatedReturn                        84853 non-null float64
ProsperRating (numeric)                84853 non-null float64
ProsperRating (Alpha)                  84853 non-null object
ProsperScore                           84853 non-null float64
ListingCategory (numeric)              113937 non-null int64
BorrowerState                          108422 non-null object
Occupation                             110349 non-null object
EmploymentStatus                       111682 non-null object
EmploymentStatusDuration               106312 non-null float64
IsBorrowerHomeowner                    113937 non-null bool
CurrentlyInGroup                       113937 non-null bool
GroupKey                               13341 non-null object
DateCreditPulled                       113937 non-null object
CreditScoreRangeLower                  113346 non-null float64
CreditScoreRangeUpper                  113346 non-null float64
FirstRecordedCreditLine                113240 non-null object
CurrentCreditLines                     106333 non-null float64
OpenCreditLines                        106333 non-null float64
TotalCreditLinespast7years             113240 non-null float64
OpenRevolvingAccounts                  113937 non-null int64
OpenRevolvingMonthlyPayment            113937 non-null float64
InquiriesLast6Months                   113240 non-null float64
TotalInquiries                         112778 non-null float64
CurrentDelinquencies                   113240 non-null float64
AmountDelinquent                       106315 non-null float64
DelinquenciesLast7Years                112947 non-null float64
PublicRecordsLast10Years               113240 non-null float64
PublicRecordsLast12Months              106333 non-null float64
RevolvingCreditBalance                 106333 non-null float64
BankcardUtilization                    106333 non-null float64
AvailableBankcardCredit                106393 non-null float64
TotalTrades                            106393 non-null float64
TradesNeverDelinquent (percentage)     106393 non-null float64
TradesOpenedLast6Months                106393 non-null float64
DebtToIncomeRatio                      105383 non-null float64
IncomeRange                            113937 non-null object
IncomeVerifiable                       113937 non-null bool
StatedMonthlyIncome                    113937 non-null float64
LoanKey                                113937 non-null object
TotalProsperLoans                      22085 non-null float64
TotalProsperPaymentsBilled             22085 non-null float64
OnTimeProsperPayments                  22085 non-null float64
ProsperPaymentsLessThanOneMonthLate    22085 non-null float64
ProsperPaymentsOneMonthPlusLate        22085 non-null float64
ProsperPrincipalBorrowed               22085 non-null float64
ProsperPrincipalOutstanding            22085 non-null float64
ScorexChangeAtTimeOfListing            18928 non-null float64
LoanCurrentDaysDelinquent              113937 non-null int64
LoanFirstDefaultedCycleNumber          16952 non-null float64
LoanMonthsSinceOrigination             113937 non-null int64
LoanNumber                             113937 non-null int64
LoanOriginalAmount                     113937 non-null int64
LoanOriginationDate                    113937 non-null object
LoanOriginationQuarter                 113937 non-null object
MemberKey                              113937 non-null object
MonthlyLoanPayment                     113937 non-null float64
LP_CustomerPayments                    113937 non-null float64
LP_CustomerPrincipalPayments           113937 non-null float64
LP_InterestandFees                     113937 non-null float64
LP_ServiceFees                         113937 non-null float64
LP_CollectionFees                      113937 non-null float64
LP_GrossPrincipalLoss                  113937 non-null float64
LP_NetPrincipalLoss                    113937 non-null float64
LP_NonPrincipalRecoverypayments        113937 non-null float64
PercentFunded                          113937 non-null float64
Recommendations                        113937 non-null int64
InvestmentFromFriendsCount             113937 non-null int64
InvestmentFromFriendsAmount            113937 non-null float64
Investors                              113937 non-null int64
dtypes: bool(3), float64(50), int64(11), object(17)
memory usage: 69.0+ MB

In [72]:
# Visually check data in columns
col_9 = loans.loc[: , 'ListingKey':'BorrowerRate']
col_18 = loans.loc[: , 'LenderYield':'BorrowerState']
col_27 = loans.loc[: , 'Occupation':'CreditScoreRangeUpper']
col_36 = loans.loc[: , 'FirstRecordedCreditLine':'CurrentDelinquencies']
col_45 = loans.loc[: , 'AmountDelinquent':'TradesNeverDelinquent (percentage)']
col_54 = loans.loc[: , 'TradesOpenedLast6Months':'OnTimeProsperPayments']
col_63 = loans.loc[: , 'ProsperPaymentsLessThanOneMonthLate':'LoanNumber']
col_72 = loans.loc[: , 'LoanOriginalAmount':'LP_ServiceFees']
col_81 = loans.loc[: , 'LP_CollectionFees':'Investors']
display(col_9.sample(3))
display(col_18.sample(3))
display(col_27.sample(3))
display(col_36.sample(3))
display(col_45.sample(3))
display(col_54.sample(3))
display(col_63.sample(3))
display(col_72.sample(3))
display(col_81.sample(3))

,ListingKey,ListingNumber,ListingCreationDate,CreditGrade,Term,LoanStatus,ClosedDate,BorrowerAPR,BorrowerRate
37686,4B67338835588273080D607,137137,2007-05-14 11:15:35.287000000,C,36,Completed,2010-02-09 00:00:00,0.22241,0.2150
46892,D0173550582655851078074,602585,2012-06-21 13:09:30.153000000,NaN,60,Current,NaN,0.27462,0.2489
112463,BE613419570162589163C83,323956,2008-05-02 05:57:01.357000000,D,36,Defaulted,2009-11-14 00:00:00,0.21223,0.1900

,LenderYield,EstimatedEffectiveYield,EstimatedLoss,EstimatedReturn,ProsperRating (numeric),ProsperRating (Alpha),ProsperScore,ListingCategory (numeric),BorrowerState
109879,0.1526,0.15000,0.0565,0.09350,5.0,B,8.0,1,NV
7301,0.2200,NaN,NaN,NaN,NaN,NaN,NaN,0,CA
17175,0.1214,0.11567,0.0449,0.07077,5.0,B,7.0,1,NC

,Occupation,EmploymentStatus,EmploymentStatusDuration,IsBorrowerHomeowner,CurrentlyInGroup,GroupKey,DateCreditPulled,CreditScoreRangeLower,CreditScoreRangeUpper
106512,Medical Technician,Employed,22.0,False,False,NaN,2013-08-11 16:17:05,660.0,679.0
83105,Teacher,Full-time,197.0,True,True,B0473364376920128370B13,2007-09-20 15:56:46.600000000,520.0,539.0
44743,Engineer - Mechanical,Employed,39.0,False,False,NaN,2011-11-04 09:37:11,760.0,779.0

,FirstRecordedCreditLine,CurrentCreditLines,OpenCreditLines,TotalCreditLinespast7years,OpenRevolvingAccounts,OpenRevolvingMonthlyPayment,InquiriesLast6Months,TotalInquiries,CurrentDelinquencies
29707,1996-07-16 00:00:00,7.0,7.0,24.0,4,217.0,2.0,4.0,0.0
34876,2004-03-19 00:00:00,10.0,9.0,15.0,8,364.0,1.0,2.0,0.0
25456,1993-01-12 00:00:00,7.0,4.0,19.0,4,77.0,2.0,5.0,0.0

,AmountDelinquent,DelinquenciesLast7Years,PublicRecordsLast10Years,PublicRecordsLast12Months,RevolvingCreditBalance,BankcardUtilization,AvailableBankcardCredit,TotalTrades,TradesNeverDelinquent (percentage)
42540,0.0,0.0,0.0,0.0,11846.0,0.26,26222.0,20.0,0.85
26913,0.0,0.0,0.0,0.0,79780.0,0.77,10987.0,37.0,1.00
68049,9348.0,7.0,1.0,0.0,44.0,0.00,10356.0,9.0,0.66

,TradesOpenedLast6Months,DebtToIncomeRatio,IncomeRange,IncomeVerifiable,StatedMonthlyIncome,LoanKey,TotalProsperLoans,TotalProsperPaymentsBilled,OnTimeProsperPayments
18822,0.0,0.06,"$25,000-49,999",True,3724.250000,5B9F3657110024040DC15C7,NaN,NaN,NaN
1980,1.0,0.18,"$25,000-49,999",True,3750.000000,F3363621636908337096BCD,NaN,NaN,NaN
42375,1.0,0.10,"$75,000-99,999",True,7916.666667,C36436842865115407C4514,NaN,NaN,NaN

,ProsperPaymentsLessThanOneMonthLate,ProsperPaymentsOneMonthPlusLate,ProsperPrincipalBorrowed,ProsperPrincipalOutstanding,ScorexChangeAtTimeOfListing,LoanCurrentDaysDelinquent,LoanFirstDefaultedCycleNumber,LoanMonthsSinceOrigination,LoanNumber
31174,1.0,0.0,5000.0,0.0,NaN,0,NaN,5,104769
21150,NaN,NaN,NaN,NaN,NaN,0,NaN,9,94465
45763,NaN,NaN,NaN,NaN,NaN,0,NaN,70,30789

,LoanOriginalAmount,LoanOriginationDate,LoanOriginationQuarter,MemberKey,MonthlyLoanPayment,LP_CustomerPayments,LP_CustomerPrincipalPayments,LP_InterestandFees,LP_ServiceFees
37108,11000,2012-07-25 00:00:00,Q3 2012,8A623552020773216CF99B1,322.16,6121.0400,2145.47,3975.5700,-159.72
97696,17000,2013-07-01 00:00:00,Q3 2013,572335827089282708719A0,350.34,2802.7200,1865.11,937.6100,-107.89
57476,35000,2013-09-05 00:00:00,Q3 2013,103C3584108299057AEABDD,817.84,4075.5932,2056.33,2019.2632,-143.26

,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors
8582,0.00,0.0,0.0,0.0,1.0,0,1,200.0,637
43954,-140.77,0.0,0.0,0.0,1.0,0,0,0.0,9
84308,0.00,0.0,0.0,0.0,1.0,0,0,0.0,1

In [74]:
#

### What is the structure of your dataset?

> Your answer here!

### What is/are the main feature(s) of interest in your dataset?

> Your answer here!

### What features in the dataset do you think will help support your investigation into your feature(s) of interest?

> Your answer here!

## Univariate Exploration

> In this section, investigate distributions of individual variables. If
you see unusual points or outliers, take a deeper look to clean things up
and prepare yourself to look at relationships between variables.

> Make sure that, after every plot or related series of plots, that you
include a Markdown cell with comments about what you observed, and what
you plan on investigating next.

### Discuss the distribution(s) of your variable(s) of interest. Were there any unusual points? Did you need to perform any transformations?

> Your answer here!

### Of the features you investigated, were there any unusual distributions? Did you perform any operations on the data to tidy, adjust, or change the form of the data? If so, why did you do this?

> Your answer here!

## Bivariate Exploration

> In this section, investigate relationships between pairs of variables in your
data. Make sure the variables that you cover here have been introduced in some
fashion in the previous section (univariate exploration).

### Talk about some of the relationships you observed in this part of the investigation. How did the feature(s) of interest vary with other features in the dataset?

> Your answer here!

### Did you observe any interesting relationships between the other features (not the main feature(s) of interest)?

> Your answer here!

## Multivariate Exploration

> Create plots of three or more variables to investigate your data even
further. Make sure that your investigations are justified, and follow from
your work in the previous sections.

### Talk about some of the relationships you observed in this part of the investigation. Were there features that strengthened each other in terms of looking at your feature(s) of interest?

> Your answer here!

### Were there any interesting or surprising interactions between features?

> Your answer here!

> At the end of your report, make sure that you export the notebook as an
html file from the `File > Download as... > HTML` menu. Make sure you keep
track of where the exported file goes, so you can put it in the same folder
as this notebook for project submission. Also, make sure you remove all of
the quote-formatted guide notes like this one before you finish your report!